    /* Original Author: Brianna Baldwin
 Date Created: 05/04/2021
 Date Last Modified: 10/27/2021
 Modified by: Brianna Baldwin
 Modification log:
    05/04/2021 - Created file | Added Mobile styling, text color, bg color, bg photos, scroll behavior 
    05/05/2021 - Finished desktop and mobile styling 
    10/27/2021 - Changed responsive mobile sizes | edited about me styling and background photo |
        edited skills section styling | added contact page styling | edited footer styling*/
    
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    /******* Mobile Styling *******/
    
    html,
    body,
    footer,
    header,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a {
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', Helvetica, sans-serif;
    }
    /* Make navbar-collapse animation instant */
    
    .collapsing {
        -webkit-transition: none;
        transition: none;
        display: none;
    }
    /* Hello hero img and text size/positioning */
    
    #home {
        background-image: url("../assets/helloBackground.jpg");
        /*Photo by Simon Berger from Pexels*/
        background-color: #fbf0f8;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center bottom;
        position: relative;
        height: 100vh;
    }
    
    #home h2 {
        line-height: 80px;
        margin-left: 20px;
        font-size: 50px;
        padding-top: 60px;
    }
    
    .welcomeText {
        background-color: rgba(0, 0, 0, .6);
        color: #fff;
    }
    /* About bg color and picture positioning */
    
    #about {
        height: 95vh;
        background-color: #DCBCD2;
        color: #171717;
        padding: 50px 20px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    #about h2 {
        text-align: center;
        color: #171717;
        padding-bottom: 20px;
    }
    
    #profile-pic {
        border-radius: 100%;
        height: 250px;
        border: solid 5px #512A45;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .showInDesktop {
        display: none;
    }
    /* Skills bg color, text positioning and picture positioning */
    
    #skills {
        height: fit-content;
        padding: 50px 20px;
        color: #171717;
        text-align: center;
        background-color: #FDFBFC;
        background-size: 80px 80px;
        background-position: 0 0, 40px 40px;
    }
    
    #skills h2 {
        text-align: center;
        color: #171717;
        padding-bottom: 20px;
    }
    
    canvas {
        width: 250;
        height: auto;
    }
    
    .skills-column {
        background-color: #512A45;
        margin: 10px;
        border-radius: 25px;
        font-size: 20px;
        color: #fff;
        transition: 0.3s ease-in-out;
        padding: 10px;
    }
    
    .skills-column:hover {
        background-color: #BEC6A9;
        color: #000;
        transition: 0.3s ease-in-out;
    }
    
    #skills-certifications {
        padding-top: 3rem;
    }
    
    #skills-certifications h3 {
        font-weight: 400;
    }
    
    #skills-certifications a:hover {
        text-decoration: none;
    }
    /* Portfolio Grid and Styling */
    
    #portfolio {
        height: fit-content;
        padding: 50px 20px;
        color: #171717;
        text-align: center;
        background-color: #DCBCD2;
    }
    
    #portfolio h2 {
        text-align: center;
        color: #171717;
        padding-bottom: 40px;
    }
    
    .image-holder {
        cursor: pointer;
        overflow: hidden;
        border-radius: 15px;
    }
    
    .image-holder {
        transition: 0.5s ease-in-out;
    }
    
    .image-holder:hover {
        transform: scale(1.07, 1.07);
        transition: 0.5s ease-in-out;
    }
    /* Contact Styling */
    
    #contact {
        /*height: 90vh;*/
        height: fit-content;
        padding: 50px 20px 20px 20px;
        opacity: 0.8;
        background-image: linear-gradient(135deg, #DCBCD2 25%, transparent 25%), linear-gradient(225deg, #DCBCD2 25%, transparent 25%), linear-gradient(45deg, #DCBCD2 25%, transparent 25%), linear-gradient(315deg, #DCBCD2 25%, #fefdfe 25%);
        background-position: 13px 0, 13px 0, 0 0, 0 0;
        background-size: 26px 26px;
        background-repeat: repeat;
        color: #171717;
        display: flex;
        justify-content: center;
    }
    
    #contact h2 {
        text-align: center;
        padding-bottom: 1rem;
        padding-top: 2rem;
        background-color: #fefdfe;
    }
    /*
    #contact form {
        background-color: #fefdfe;
        padding: 1.5rem;
        padding-top: 0;
        margin-right: .2rem;
    }
    
    #error-msg {
        margin-left: .5rem;
        font-weight: bold;
    }
    
    */
    
    .contact-container {
        width: 80vw;
        padding: 1.5rem;
    }
    
    .form-input {
        margin: .5rem;
    }
    
    textarea:focus,
    input:focus {
        outline: none !important;
        border: 1px solid #512A45;
        box-shadow: 0 0 10px #DCBCD2;
    }
    /* Footer Styling */
    
    footer {
        height: fit-content;
        background-color: #DCBCD2;
        padding: 20px;
        color: #171717;
    }
    
    footer p {
        font-size: 16px;
    }
    
    footer a {
        color: #171717;
    }
    
    footer img,
    .fab {
        width: 40px;
        transition: 0.5s ease-in-out;
    }
    
    .row {
        display: flex;
    }
    
    .footer-column {
        flex: 33.33%;
    }
    
    #center-column {
        padding-left: 20px;
    }
    
    .footer-row {
        margin: 10px;
        justify-content: center;
        align-items: center;
    }
    
    .media-column {
        padding: .5rem;
    }
    
    footer img:hover,
    .fab:hover {
        transform: scale(1.3, 1.3);
        transition: 0.5s ease-in-out;
        color: #000;
    }
    
    footer p {
        text-align: center;
        font-size: 18px;
    }
    /* Tablet and Desktop Styling */
    
    @media only screen and (min-width: 650px) {
        /* Navbar desktop styling */
        .navbar-light:hover,
        .navbar-nav:hover .nav-link:hover {
            background-color: #512A45;
            color: #fff;
        }
        /* Welcome desktop styling */
        #home {
            background-image: url("../assets/helloBackground.jpg");
            /*Photo by Simon Berger from Pexels*/
            background-color: #fbf0f8;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: center bottom;
            position: relative;
            height: 100vh;
        }
        #home h2 {
            line-height: 150px;
            margin-left: 20%;
            font-size: 70px;
            padding-top: 80px;
        }
        /* About desktop styling */
        #about {
            padding: 60px 10%;
        }
        .showInDesktop {
            display: unset;
            width: 300px;
            margin: 15px;
        }
        /* Skills Desktop styling */
        #skills {
            padding: 60px 10%;
        }
        /* Footer Desktop styling */
        footer {
            text-align: center;
            background-color: #DCBCD2;
            padding: 20px 10%;
            color: #171717;
        }
        footer p,
        footer a {
            font-size: 25px;
            color: #171717;
        }
        footer a:hover {
            color: rgb(80, 93, 60);
        }
        footer img:hover,
        .fab:hover {
            transform: scale(1.3, 1.3);
            transition: 0.5s ease-in-out;
            color: #000;
        }
        footer p {
            font-size: 20px;
            text-align: center;
        }
    }
    /* About desktop styling */
    
    @media only screen and (min-width: 975px) {
        /*About section styling*/
        #profile-pic {
            height: 400px;
        }
        #about-content span {
            font-size: 25px;
        }
        /*Skills section styling*/
        #skills-certifications {
            padding-top: 1rem;
            padding-left: 3rem;
        }
        .skills-column {
            margin: 1rem;
        }
    }